<div class="container">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>KEY</th>
            <th>VALUE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of keys">
            <td>{{ item.key }}</td>
            <td>{{ item.value }}</td>
          </tr>
        </tbody>
      </table>
</div>
<!-- <tr *ngFor="let item of keys; index as i">
    <td>{{item.key}}</td> 
    <td>{{item.value}}</td>            
</tr>-->